<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCef-URMKZwnkcG2zwJ4QK-sRkoyobmyVk</string>
	<key>GCM_SENDER_ID</key>
	<string>840457112099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hourLog</string>
	<key>PROJECT_ID</key>
	<string>hourtracker-13ecb</string>
	<key>STORAGE_BUCKET</key>
	<string>hourtracker-13ecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840457112099:ios:9865ddd2144e6ae6107f96</string>
</dict>
</plist>